html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#div_navbar{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#navbar{
    padding: 10px 40px 0 0;
}

#div_navbar div{
    width: 100%;
    display: flex;
    justify-content: right;
}
#logo_navbar{
    width: 160px;
    height: 70px;
}
#navbar_link{
    display: flex;
    list-style: none;
}
li a{
    color: black;
    margin-left: 20px;
}
#conteudo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
}

.textos{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

.btnStyle{
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 14px;
    background-color: rgb(15, 15, 230);
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
}

.btnStyle:hover{
    transform: scale(1.09);
    transition: all 0.3s ease;
}

#conteudo img{
    width: 500px;
}

#sobre{
    text-align: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#sobre img{
    margin-bottom: 20px;
}
#footer{
    background-color: rgb(15, 15, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}
@media(max-width:760px){
    #conteudo{
        flex-direction: column;
        margin-top: 40px;
    }
    .textos div{
        font-size: 18px;
        text-align: center;
    }
    #conteudo img{
        width: 350px;
        height: 170px;
        margin-top: 30px;
    }
    #div_navbar{
        margin-left: 10px;
    }
}